@media screen and (max-width : 1140px) {
    .home {
        width: 1000px;
    }
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 14px;
    }
    .home {
        width: 900px;
    }
}

@media screen and (max-width : 900px) {
    html {
        font-size: 13px;
    }
    .home {
        width: 800px;
    }
}

@media screen and (max-width : 768px) {
    html {
        font-size: 12px;
    }
    .home {
        width: 600px;
    }
}


@media screen and (max-width : 590px) {
    .bar .logo a {
        padding-left: 1rem;
    }
    header nav .menu > a {
        padding: 1rem;
    }
    header nav .menu .lang {
        gap: 0.5rem;
    }
    label {
        width: 5rem;
        height: 2rem;
    }
    label::after{
        width: 2.2rem;
        height: 1.65rem;
        border-radius: 30px;
        top: 0.22rem;
        left: 0.35rem;
    }
    input:checked + label::after {
        left: 4.7rem;
        transform: translateX(-100%);
        background: linear-gradient(180deg, #777,#3a3a3a);
    }
    label:active::after {
        width: 3rem;
    }
    .container {
        width: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}


@media screen and (max-width : 480px) {
    html {
        font-size: 11px;
    }
    main .container .company-selection {
        flex-direction: column;
    }
    .container {
        width: 400px;
        justify-content: center;
   
    }
    

    header .bar {
        flex-direction: column;
    }
    .bar .logo a {
        padding-left: 0;
    }
}

@media screen and (max-width : 320px) {
    .container {
        width: 150px;
    }
    html {
        font-size: 9px;
    }
}